<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swift2021.ibashareandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IbaShareAndroid">
        <activity
            android:name=".TownActivity"
            android:exported="true" />
        <activity
            android:name=".Tag3Activity"
            android:exported="true" />
        <activity
            android:name=".SeeMoreTag3Activity"
            android:exported="true" />
        <activity
            android:name=".Tag2Activity"
            android:exported="true" />
        <activity
            android:name=".SeeMoreTag2Activity"
            android:exported="true" />
        <activity
            android:name=".Tag1Activity"
            android:exported="true" />
        <activity
            android:name=".RecommendActivity"
            android:exported="true" />
        <activity
            android:name=".SeeMoreActivity"
            android:exported="true" />
        <activity
            android:name=".Town13Activity"
            android:exported="true" />
        <activity
            android:name=".Town12Activity"
            android:exported="true" />
        <activity
            android:name=".Town11Activity"
            android:exported="true" />
        <activity
            android:name=".Town10Activity"
            android:exported="true" />
        <activity
            android:name=".Town9Activity"
            android:exported="true" />
        <activity
            android:name=".Town8Activity"
            android:exported="true" />
        <activity
            android:name=".Town7Activity"
            android:exported="true" />
        <activity
            android:name=".Town6Activity"
            android:exported="true" />
        <activity
            android:name=".Town5Activity"
            android:exported="true" />
        <activity
            android:name=".Town4Activity"
            android:exported="true" />
        <activity
            android:name=".Town3Activity"
            android:exported="true" />
        <activity
            android:name=".Town2Activity"
            android:exported="true" />
        <activity
            android:name=".Town1Activity"
            android:exported="true" />
        <activity
            android:name=".TownListActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>